* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
}

.wrap {
	overflow-x: hidden;
	width: 100%;
    min-height: 100vh;
    position: relative;
}
