* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
}
.wrap {
	overflow-x: hidden;
	width: 100%;
    min-height: 100vh;
    position: relative;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	text-align: center;
}

.post {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	a {
		width: 30%;
		img {
			width: 100%;
		}
	}
}

footer {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0; 
}