.header {
	background: #161719;
    padding: 25px 0;
}
.header-inner {
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.site-name {
		color: #dadada;
		font-size: 25px;
		padding: 0 15px;
	}
}

.nav {
	display: flex;
	a {
		color: #dadada;
		padding: 10px 15px;
	}
}